*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #54483A;
  font-size: 1.6rem;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  color: #101d2c;
  font-size: 1.9rem;
  font-weight: 400; }

.heading-4--dark {
  color: #54483A; }

.side-bar {
  background-color: #c69963;
  grid-row: 1 /-1;
  grid-column: sidebar-start / sidebar-end; }

.header {
  background-color: #101d2c;
  grid-row: 1 / 2;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #B28451;
  grid-row: 1 / 2;
  grid-column: col-start 6 / full-end; }

.features {
  margin: 15rem 0;
  grid-row: 2 /3;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem; }
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
    grid-row: 1 / span 2; }

.story__picture {
  background-color: #54483A;
  grid-row: 3 / 4;
  grid-column: full-start / col-end 5; }

.story__content {
  background-color: #6D5D4B;
  grid-row: 3 / 4;
  grid-column: col-start 5 / full-end; }

.homes {
  background-color: #101d2c;
  grid-row: 4 / 5;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #c69963;
  grid-row: 5 / 6;
  grid-column: full-start / full-end; }

.footer {
  background-color: #aaa;
  grid-row: 6 / 7;
  grid-column: full-start / full-end; }
