.header {
    background-image: linear-gradient(rgba($color-secondary, 0.95), rgba($color-secondary, 0.95)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    grid-row: 1 / 2;
    grid-column: full-start / col-end 6;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content 6rem 1fr;
    grid-template-columns: max-content;
    grid-row-gap: 1.5rem;
    justify-content: center;

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }
}

.seenon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    justify-items: center;

    &__text {
        color: white;

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 2rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            display: block;
            height: .1rem;
            background-color: currentColor;

        }
    }

    &__img {
        height: 2rem;
        filter: brightness(70%);
    }
}