.story {

    &__picture {
        background-color: $color-grey-dark-1;
        grid-row: 3 / 4;
        grid-column: full-start / col-end 5;
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-row: 3 / 4;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__content-text {
        font-style: italic;
        margin-bottom: 4rem;
    }
}